h1 {
  color: white;
  text-align: center;
  align-content: center;
  align-items: center;
}

.bodyItem {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /*height: 400px;*/
}

.divItem {

  margin: 10px;

}

p {
  margin: 5px;
  
}


.fotosGral img{
  height: 100px ;
  width: 100px ;


}

@media (max-width: 900px) {
  .bodyItem {
 
    grid-template-columns: auto auto auto;
  }

}

@media (max-width: 560px) {
  .bodyItem {
   
    grid-template-columns: auto auto;
  }

}